$background : rgb(0, 0, 0);
$timetableBaseColor : rgb(182, 167, 255);
$timetableHeadColor  :rgb(123, 147, 255);
$timetableDayColor : rgb(163, 169, 255);
$darkBorder : rgb(122, 124, 255);
$mediumBorder : rgb(65, 73, 155);
$lightBorder : rgb(146, 147, 243);

$preferencePanelBackground : rgb(226, 229, 255);
$preferencePanelHeadingBackground : rgb(108, 142, 255);
$addedListBackground: rgb(181, 198, 255);
$addedSlotBackground : rgb(51, 116, 255);
$theoryTextColor: black;