$background : rgb(242, 242, 255);
$timetableBaseColor : rgb(182, 167, 255);
$timetableHeadColor  :rgb(123, 147, 255);
$timetableDayColor : rgb(163, 169, 255);
$darkBorder : rgb(122, 124, 255);
$mediumBorder : rgb(65, 73, 155);
$lightBorder : rgb(146, 147, 243);

$preferencePanelBackground : rgb(199, 205, 255);
$preferencePanelHeadingBackground : rgb(58, 87, 180);
$addedListBackground: rgb(181, 198, 255);