$background : rgb(245, 255, 242);
$timetableBaseColor : rgb(220, 255, 188);
$timetableHeadColor  :rgb(120, 209, 106);
$timetableDayColor : rgb(184, 255, 163);
$darkBorder : rgb(102, 178, 91);
$mediumBorder : rgb(115, 207, 87);
$lightBorder : rgb(194, 243, 190);

$preferencePanelBackground : rgb(205, 255, 199);
$preferencePanelHeadingBackground : rgb(58, 180, 84);
$addedListBackground: rgb(190, 255, 181);

$addedSlotBackground : rgb(109, 255, 51);