$background : rgb(255, 242, 242);
$timetableBaseColor : rgb(220, 255, 188);
$timetableHeadColor  :rgb(120, 209, 106);
$timetableDayColor : rgb(184, 255, 163);
$darkBorder : rgb(102, 178, 91);
$mediumBorder : rgb(102, 199, 72);
$lightBorder : rgb(143, 228, 135);