$background : rgb(255, 255, 255);
$timetableBaseColor : rgb(228, 228, 228);
$timetableHeadColor  :rgb(167, 167, 167);
$timetableDayColor : rgb(207, 207, 207);
$darkBorder : rgb(138, 138, 138);
$mediumBorder : rgb(201, 201, 201);
$lightBorder : rgb(177, 177, 177);
$preferencePanelBackground : rgb(206, 206, 206);
$preferencePanelHeadingBackground : rgb(92, 92, 92);
$addedListBackground: rgb(151, 151, 151);
$addedSlotBackground : rgb(148, 148, 148);
$theoryTextColor: white;