$background : rgb(255, 242, 242);
$timetableBaseColor : rgb(255, 193, 193);
$timetableHeadColor  :rgb(255, 123, 123);
$timetableDayColor : rgb(255, 163, 163);
$darkBorder : rgb(236, 72, 72);
$mediumBorder : rgb(199, 72, 72);
$lightBorder : rgb(247, 168, 168);