
$timetableBaseColor : rgb(190, 255, 209);
$timetableHeadColor  :rgb(98, 255, 138);
$timetableDayColor : rgb(152, 255, 178);
$darkBorder : rgba(35, 110, 0, 0.26);
$mediumBorder : rgba(50, 110, 0, 0.329);
$lightBorder : rgba(183, 255, 142, 0.521);

$addedSlotBackground : rgba(255, 255, 255, 0.397);