
$timetableBaseColor : #ececec;
$timetableHeadColor  : #b1c7ff;
$timetableDayColor : $timetableHeadColor;
$darkBorder : rgba(0, 25, 167, 0.26);
$mediumBorder : rgba(11, 0, 110, 0.329);
$lightBorder : rgba(120, 126, 158, 0.342);

$addedSlotBackground : rgb(129, 194, 255);
$barColor: #202020;
$border: rgba(221, 221, 221, 0.37);
$secondaryBase: transparent;
$secondColor: #ffffff70;